{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{%endblock%}

{%extends 'index.html'%}
{%block content%}
<div class="conten_home">
    <ul>
        <li><a href="https://docs.google.com/document/d/1CblgpT2depSNWqMXpHvFgM8zgeDR3A4b/edit?usp=sharing&ouid=101614752586777362349&rtpof=true&sd=true">cv office1</a></li>
        <li><a href="https://docs.google.com/document/d/1c8WzTv2xD2017nJWPcdS8yWQprHF7GLB/edit?usp=sharing&ouid=101614752586777362349&rtpof=true&sd=true">cv office2</a></li>
    </ul>
</div>
{%endblock%}